@{
    Layout = "_Layout";
    bool isFirstItem = true; // PER IL CAROSELLO Variabile di stato per tracciare il primo elemento
}
@model List<Image>

<div class="ms_PageIndex">
    <main>
            <div class="ms_PageContainer container">

                <h1 class="ms_PageTitle"><strong>Galleria Leo F.</strong></h1>

                <!--CAROSELLO-->
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">


                    <!--   QUESTE 3 RIGHE DI CODICE BLOCCAVANO I BOTTONI
                    <div class="carousel-indicators">
                         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div> -->

                    <div class="carousel-inner">
                        @foreach (Image image in Model)
                        {
                            <div class="carousel-item @(isFirstItem ? "active" : "")">

                            <img src="@image.ImageSrc" class="ms_carouselImg d-block w-100" alt="...">

                                <div class="carousel-caption d-none d-md-block">

                                    <h5>Image: @image.Title</h5>

                                    @if (image.Categories == null)
                                    {
                                        <p>Nessuna categoria selezionata</p>
                                    }
                                    else
                                    {
                                        foreach (Category category in image.Categories)
                                        {
                                            <p>@category?.Name</p>
                                        }
                                    }
                                    <p>@image.Description</p>
                                </div>
                            </div>
                            isFirstItem = false;
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="container p-4">

                    <div class="row">
                        <div class="col-12 text-white">
                            <h1>Lista delle foto</h1>
                            <div>
                                <input id="js_search_box" type="text" class="form-control my-3" placeholder="Cerca per titolo...">
                            </div>
                        </div>
                    </div>

                    <div id="loading-spinner" class="row">
                        <div class="col-12">
                            <div class="spinner-border" role="status"></div>
                            <span class="visually-hidden">Sto cercando le foto... </span>
                        </div>
                    </div>

                    <div id="row-no-images" class="row d-none">
                        <div class="col-12">
                            <h1>Nessuna Foto trovata</h1>
                        </div>
                    </div>



                    <div id="list-of-images" class="row d-none">
                        <div class="col-12">
                        </div>
                    </div>

                </div>

                <hr class="text-white">

                <div class="text-white container mt-4">

                    <h2>CONTACT US:</h2>

                    <form id="FormContent">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="message"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary mt-4 mb-4" onclick="sendMessage()">SEND</button>
                    </form>

                </div>
            </div>
    </main>

</div>

<!--SCRIPT CAROSELLO-->
<script>
    var carousel = document.getElementById('carouselExampleCaptions');
    var indicators = carousel.querySelector('.carousel-indicators');
    var items = carousel.querySelectorAll('.carousel-item');

    items.forEach(function (item, index) {
        var indicator = document.createElement('button');
        indicator.setAttribute('type', 'button');
        indicator.setAttribute('data-bs-target', '#carouselExampleCaptions');
        indicator.setAttribute('data-bs-slide-to', index.toString());
        if (index === 0) {
            indicator.classList.add('active');
        }
        indicators.appendChild(indicator);

        item.addEventListener('mouseenter', function () {
            indicators.querySelector('.active').classList.remove('active');
            indicator.classList.add('active');
        });
    });
</script>



<!--SCRIPT API-->
@section Scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">

        loadAllImage();

        document.getElementById("js_search_box").addEventListener('keyup', searchImages);

        function searchImages() 
        {
            let searchString = document.getElementById("js_search_box").value;

            loadAllImage(searchString);
        }


        function loadAllImage(searchParam) {
            axios.get('/api/Images/SearchImages', { params: {search: searchParam}}).then((res)=>
            {
                console.log(res);

                var divNoImages = document.getElementById("div-no-images");
                var loadingSpinnerElement = document.getElementById("loading-spinner");
                var listOfImagesElement = document.getElementById("list-of-images");

                if(res.data.length == 0) 
                {
                    divNoImages.classList.Remove("d-none");
                    loadingSpinnerElement.classList.Add("d-none");
                } 
                else 
                {
                    loadingSpinnerElement.classList.add("d-none");
                    listOfImagesElement.classList.remove("d-none");

                    listOfImagesElement.innerHTML = "";

                    res.data.forEach(image => {
                        console.log("image");

                        listOfImagesElement.innerHTML +=
                            `
                                  <div class="col-12 col-md-4 p-2" id="${image.id}">
                                      <div class="card text-center" style="height:450px">
                                             <img src="${image.imageSrc}" class="card-img-top" style="height:50%" alt="Immagine ${image.id}">
                                             <div id="card_` + image.id + `" class="card-body">
                                                   <h5 class="card-title">${image.title}</h5>
                                                   <p class="card-text">${image.description}</p>
                                                   <p class="card-text">${image.categories.map(category => category.name).join(", ")}</p>
                                             </div>
                                       </div>
                                  </div>
                            `;
                       // const btn = document.createElement("button");
                       // btn.type = "button";
                       // btn.classList.add("btn", "btn-danger");
                       // btn.innerHTML = "Delete";
                       // btn.setAttribute("data-image-id", image.id);
                       // btn.setAttribute("id", image.id);
                       // btn.onclick = function () { deleteImage(image.id); };
                       // document.getElementById("card_" + image.id).appendChild(btn);
                    });
                }
            })
        }

        function sendMessage() {
            let email = document.getElementById('email').value;
            let message = document.getElementById('message').value;

            if (!email || !message) {
                alert('Inserisci email e messaggio');
                return;
            }

            let apiUrl = `/api/FormContents/StoreMessage`;

            const jsonData = {
                email: email,
                message: message,
            };

            axios.post(apiUrl, jsonData)
                .then(function (response) {
                    console.log(response.data);
                    alert('Messaggio inviato con successo!!!');

                    document.getElementById('email').value = '';
                    document.getElementById('message').value = '';
                })
                .catch(function (error) {
                    alert('Errore, messaggio non inviato');
                    console.error(error);
                });
        }
    </script>
}