html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}



footer {
    display:flex;
}
footer .container-fluid {
    background-color: #bd3f57;
    justify-content: space-around;
    color: white;
    padding: 5%;
}
    footer ul {
        justify-content: center;
        flex-direction: column;
    }




header {
    background-color: #bd3f57;
    color: white;
    padding: 5%, 20%;
    justify-content: space-around;
}
header .navbar-brand {
    color:white;
}
header .nav-link {
    color:white;
}



