<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container text-white">
            <a class="navbar-brand text-white" href="/Home/Index">Galleria Leo F.</a>
            <!--
            <button class="navbar-toggler text-white gb-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white gb-light"></span>
            </button>
            -->
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Image/Index">Admin</a>
                    </li>

                    <partial name="_LoginPartial" />

                </ul>
            </div>
        </div>
    </nav>
</header>


